name: "CI"

on:
  workflow_dispatch: {}
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'README.md'
      - 'LICENSE'

concurrency:
  group: ci-${{ github.head_ref || github.ref  }}
  cancel-in-progress: true

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install devbox
        uses: jetify-com/devbox-install-action@a0d2d53632934ae004f878c840055956d9f741b0 # v0.14.0
        with:
          enable-cache: 'true'

      - name: Install deps
        run: devbox run test-config

      - name: Run tests
        run: devbox run test-cov
